{% extends "base.html" %}

{% block titulo %}Tareas{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="card card-2 card-2 mb-3">
        <div class="card-body">
            <div class="row mt-3 align-items-center">
                <div class="col-md-10">
                    <h5 text-dark>Acerca de</h5>
                    <p>Este proyecto es parte de un examen de Base de Datos No relacionales</p>
                    <p>Elaborado por: Pascual Torres Melannie Abril de 4D</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}