{% extends "base.html" %}

{% block titulo %}Tareas{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="card card-2 card-2 mb-3">
        <div class="card-body">
            <div class="row mt-3 align-items-center">
                <div class="col-md-10">
                    <h5 text-dark>Acerca de</h5>
                    <p>Este proyecto es parte de un examen practico de Base de Datos No relacionales</p>
                    <p>MongoDB se conecta con la aplicacion para verificar la existencia de usuarios para el inicio de sesion</p>
                    <p>Si no existe el usuario se debe de poder crear en registro y guardar en la base de datos para poder usarlo en el inicio de sesion</p>
                    <p>Al recuperar contraseña se debe verificar primero la existencia del correo</p>
                    <p>Nombre: Pascual Torres Melannie Abril</p>
                    <p>Grado y grupo: 4D</p>
                    <p>Correo: 24308060610062@cetis61.edu.mx</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}